<%= nested_form_for @invoice do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_email %>
    <%= form.text_field :customer_email %>
  </div>

<%= form.fields_for :invoice_details do |invoice_detail|%>
<%= invoice_detail.text_field :product_id%>
<%= invoice_detail.text_field :quantity%>
<%end%>
<%= form.link_to_add 'Add New', :invoice_details %>

  <div class="field">
    <%= form.label :customer_paid %>
    <%= form.text_field :customer_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
